.ackordion--theme-blue > li > button {
  background: #039BE5;
}
.ackordion--theme-blue > li > button:hover {
  background: #038acc;
}
.ackordion--theme-blue > li > button:focus {
  background: #0279b3;
}
.ackordion--theme-blue > li > section > div {
  background: #222;
  color: white;
}
