.ackordion--theme-red button[role=tab] {
  background: #FF5722;
}
.ackordion--theme-red button[role=tab]:hover {
  background: #ff4409;
}
.ackordion--theme-red button[role=tab]:focus {
  background: #ee3900;
}
.ackordion--theme-red > li > section > div {
  background: linear-gradient(180deg, rgba(255, 87, 34, 0.1), white);
}
.ackordion--theme-red > li > section > div > * {
  margin: 0;
  padding: 0;
}
.ackordion--theme-red > li > section > div ::first-letter {
  font-size: 200%;
  font-weight: bold;
  color: #FF5722;
  padding-right: .2rem;
}
