.ackordion--theme-green > li > section > div{
	padding: 0 1rem;
}
.ackordion--theme-green > li > section > div::before,
.ackordion--theme-green > li > section > div::after {
	content: '';
	display: block;
	height: 1rem;
}

.ackordion--theme-green button[role=tab] {
    background: #689F38;
}

.ackordion--theme-green button[role=tab]:hover {
    background: #5c8c31;
}

.ackordion--theme-green button[role=tab]:focus {
    background: #4f792b;
}

.ackordion--theme-green > li > section > div {
    background: #222;
    color: white;
}
