.ackordion {
    width: 100%;
    max-width: 800px;
    border-radius: 2px;
    border: 2px solid black;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    font-size: 1rem;
}

.ackordion-fix-safari-bug {
    transition: 0 !important;
    /* http://stackoverflow.com/q/27806229/815507 */
}

.ackordion > li + li {
    border-top: 2px solid black;
}

.ackordion > li:not(.ackordion--active) > section > div {
    max-height: 0px;
}

.ackordion > li > section {
    font-size: inherit;
    overflow: hidden;
    display: block;
}

.ackordion > li > section > div {
    padding: 0;
    /* don't set padding-top or padding-bottom here, use inner element instead */
    -webkit-transition: max-height cubic-bezier(0, 0, .3, 1) 200ms;
    transition: max-height cubic-bezier(0, 0, .3, 1) 200ms;
    transform: translateZ(0);
    will-change: max-height;
    -webkit-backface-visibility: hidden;
}

.ackordion > li > section > div > article {
    padding: 1rem 1rem;
}

.ackordion button[role=tab] {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    transition: cubic-bezier(0, 0, .3, 1) 200ms;
    background: #444;
    color: white;
    padding: 1rem;
    margin: 0;
    border: 0;
    text-transform: uppercase;
    font-size: inherit;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.ackordion > li > header {
    overflow: hidden;
}

.ackordion > li > header > label {
    padding: 1rem;
    display: inline-block;
    float: left;
    text-transform: uppercase;
}

.ackordion > li > header button[role=tab] {
    float: right;
    display: inline-block;
    width: auto;
    outline: none;
}

.ackordion button[role=tab]:hover {
    background: #333;
}

.ackordion button[role=tab]:focus {
    background: #222;
}
